body {
  font-family: Arial, sans-serif;
  margin: 0;
}
h1 {
  text-align: center;
}
.input-group {
  margin-bottom: 20px;    
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#submit{
  background-color: #b9e0b9;
  color: rgb(3, 3, 3);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
#submit:hover {
  background-color: #45a049;
}
.result_div{
  height : auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1.5%;
  background-color: peachpuff;
  opacity: 0.7;
  width: 80%;
  margin: 20px auto;
}
.card {
  width: 70%;
  align-self: center;
  vertical-align: middle;
  justify-self: center;
  margin: 5% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0.8;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  align-items: center;
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.login-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #45a049;
}

.content {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.visit {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30%;
}